* {
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #006485;
  height: 100%;
}
header {
  height: 10vh;
}
section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
  height: 79.5vh;
  background-color: dodgerblue;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  box-shadow: inset 0 0 20px black;
}
section div {
  border: 1px solid white;
  height: 90%;
  width: 95%;
  background-color: #008585;
  border-radius: 3rem;
  box-shadow: inset 0 0 20px black;
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
  height: 10vh;
}
nav {
  height: 100%;
}
nav a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
  text-decoration: none;
  font-size: 4rem;
  background-color: #008585;
  width: 15%;
  border: 1px solid white;
  border-radius: 1rem;
  height: 80%;
  box-shadow: 0 0 20px black;
  transition: 0.8s;
}
nav a:hover {
  background-color: #00cccc;
  color: #006485;
  font-size: 5rem;
  box-shadow: inset 0 0 20px black;
  transition: 0.8s;
}
footer a {
  font-size: 4rem;
  color: #00cccc;
  text-shadow: 0 0 20px black;
  text-decoration: none;
  transition: 1s;
}
footer a:hover {
  font-size: 4.2rem;
  transition: 1s;
}
i {
  color: #008585;
  transition: 0.5s;
  color: #00cccc;
  text-shadow: 0 0 20px black;
}
i:hover {
  color: white;
  transition: 0.5s;
  font-size: 9.5rem;
}
header {
  width: 100%;
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
  width: 100%;
}
